<div id="product-list">
    <figure *ngFor="let product of productList">
        <img src="./assets/product-img/{{product.image}}" class="responsive-img" alt="produit">
        <figcaption>{{ product.name }}</figcaption>
    </figure>
</div>